<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Client Dashboard</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="head logo.png" width="35" height="35" class="d-inline-block align-top" alt="logo" style="border-radius: 30%;">
              Phys.io
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item active">
                <form action="/logout">
                  <a class="nav-link" ><button type="submit">Logout</button></a>
                </form>
                
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main>

      <div class="client-header1">
        <img src="<%=user.profile_pic%>" alt="client image">
        <pre>
<h1>Hello there! <%= user.name%>
<h5>Email Id: <%= user.email%>
<h5>Fullname: <%= user.fullname%>
<h5>Phone number: <%= user.phone %></h5>

<h5>Age: <%= user.age %>
<h5>Weight: <%= user.weight %>
<h5>Height: <%= user.height %>
<h5>Gender: <%= user.gender %>   
</pre>

      </div>
      <form action="/updateProfile">
        <a class="nav-link" ><button type="submit" style="background-color: aqua;margin-left: 10%;"><h4><b>Update Profile</b></h4></button></a>
      </form>  

<!-- <form action="/updateProfile">
  <a class="nav-link" ><button type="submit">Update Profile</button></a>
</form> -->


          <!-- <div class="client-container"> -->
              <div class="client-block">
                  <div class="client-header">

              <h1 style="color: #ffffff;">Excercise with our monitoring: </h1>
              
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/1YlwX5A9f0U/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Shoulder 1</h4>
                                    <p class="card-text">Shoulder up and down</p>
                                    <form action="/shoulder1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Shoulder up/down</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->
              <br>
              <br>

              <h1 style="color: #ffffff;">Excercise recommended for you: </h1>

              <!-- <h3 style="color: #ffffff;">Neck: </h3>
              <form action="/neck1">
                <a class="nav-link" ><button type="submit" style="background-color: aqua;">Neck left/right</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/iwPsbH5yFc4/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Neck 1</h4>
                                    <p class="card-text">Some quick neck exercises to reduce pain</p>
                                    <form action="/neck1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Neck left/right</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <!-- <h3 style="color: #ffffff;">Shoulder: </h3>
              <form action="/shoulder2">
                <a class="nav-link" ><button type="submit">Shoulder up/down</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/FnOq_VZm-nk/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Shoulder 2</h4>
                                    <p class="card-text">Set of exercise for eliminating shoulder pain.</p>
                                    <form action="/shoulder2">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Shoulder up/down</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <!-- <h3 style="color: #ffffff;">Elbow: </h3> 
              <form action="/elbow1">
                <a class="nav-link" ><button type="submit">Elbow Exercise</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/Lf695_IJO8g/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Elbow 1</h4>
                                    <p class="card-text">Elbow cracking or weakness? Jump on these exercise to eliminate all of it.</p>
                                    <form action="/elbow1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Elbow Exercise</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <!-- <h3 style="color: #ffffff;">Back: </h3>
              <form action="/back1">
                <a class="nav-link" ><button type="submit">Back Excercise</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/Ip0S-HHQIoc/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Back 1</h4>
                                    <p class="card-text">Backi pain from sitting all day at job? Try out these exercises.</p>
                                    <form action="/back1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Back Excercise</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <!-- <h3 style="color: #ffffff;">Knee: </h3>
              <form action="/knee1">
                <a class="nav-link" ><button type="submit">Knee exercise</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/pOrc3zADC7k/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Knee 1</h4>
                                    <p class="card-text">Constant knee pain? Weak kness? Go for this exercise.</p>
                                    <form action="/knee1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Knee exercise</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <!-- <h3 style="color: #ffffff;">Ankle: </h3>
              <form action="/ankle1">
                <a class="nav-link" ><button type="submit">Ankle exercise</button></a>
              </form> -->
              <!-- exer -->
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="https://i1.ytimg.com/vi/hEmLp6iQB7M/mqdefault.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Ankle 1</h4>
                                    <p class="card-text">Flat foot increase the load on your ankles, try out this exercise to beat it.</p>
                                    <form action="/ankle1">
                                      <a class="nav-link" ><button type="submit" style="background-color: aqua;">Ankle exercise</button></a>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- exer -->

              <br>
              <br>



            </div>
          </div>
        </div>

    

    </main>
</body>
</html>
</html>