<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Client Dashboard</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            <img src="head logo.png" width="35" height="35" class="d-inline-block align-top" alt="logo" style="border-radius: 30%;">
              Phys.io
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item active">
                <form action="/logout">
                  <a class="nav-link" ><button type="submit">Logout</button></a>
                </form>
                
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
          <div class="client-container">
              <div class="client-block">
                  <div class="client-header">
                    <pre>

<img src="<%=user.profile_pic%> " alt="User profile" width="100" height="150">
Username: <%= user.name %>
Email Id: <%= user.email %> 
<%= user.fullname %>
<%= user.phone %>
<%= user.age %>
<%= user.weight %>
<%= user.height %>
<%= user.Specify %>
<%= user.gender %>

Neck: <%= user.pain_range.neck %>
Shoulder: <%= user.pain_range.shoulder %>
Elbow: <%= user.pain_range.elbow %>
Back: <%= user.pain_range.back %>
Knee: <%= user.pain_range.knee %>
Ankle: <%= user.pain_range.ankle %>


<form action="/updateProfile">
  <a class="nav-link" ><button type="submit">Update Profile</button></a>
</form>
                    </pre>
                  

              <h1 style="color: #ffffff;">Excercise with our monitoring: </h1>
              <form action="/shoulder1">
                <a class="nav-link" ><button type="submit">Shoulder up/down</button></a>
              </form>

              <h1 style="color: #ffffff;">Excercise recommended for you: </h1>

              <h3 style="color: #ffffff;">Neck: </h3>
              <form action="/neck1">
                <a class="nav-link" ><button type="submit">Neck left/right</button></a>
              </form>

              <h3 style="color: #ffffff;">Shoulder: </h3>
              <form action="/shoulder2">
                <a class="nav-link" ><button type="submit">Shoulder up/down</button></a>
              </form>

              <h3 style="color: #ffffff;">Elbow: </h3> 
              <form action="/elbow1">
                <a class="nav-link" ><button type="submit">Elbow Exercise</button></a>
              </form>

              <h3 style="color: #ffffff;">Back: </h3>
              <form action="/back1">
                <a class="nav-link" ><button type="submit">Back Excercise</button></a>
              </form>

              <h3 style="color: #ffffff;">Knee: </h3>
              <form action="/knee1">
                <a class="nav-link" ><button type="submit">Knee exercise</button></a>
              </form>

              <h3 style="color: #ffffff;">Ankle: </h3>
              <form action="/ankle1">
                <a class="nav-link" ><button type="submit">Ankle exercise</button></a>
              </form>



            </div>
          </div>
        </div>

    

    </main>
</body>
</html>
</html>